@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #26698b;
  --color-text: #c9d1d9;
  --color-background: #ffe7b3;
  --color-secondary: #ff8473;

  /* BORDERS */
  --border-radius: 0.5rem;
  --border: 1px solid var(--color-primary);

  /* FONTS */
  --font-family: "Noto Sans Mono", monospace;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: white;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
}

button {
  border-radius: var(--border-radius);
  border: 0;
}
.headline {
  display: grid;
  justify-content: center;
}

.sectionOptions {
  width: fit-content;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 3rem 4rem;
}

.button_options {
  background: var(--color-primary);
  font-size: 1rem;
  padding: 1rem 2rem;
  color: white;
}
