@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #26698b;
  --color-text: white;
  --color-background: #ffe7b3;
  --color-secondary: #ff8473;

  /* BORDERS */
  --border-radius: 0.5rem;
  --border: 1px solid var(--color-primary);

  /* FONTS */
  --font-family: "Noto Sans Mono", monospace;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: #fff9ec;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
}

button {
  border-radius: var(--border-radius);
  border: 0;
}

#app {
  display: grid;
  justify-content: center;
}

.headline {
  margin-top: 3rem;
  display: grid;
  justify-content: center;
}

.sectionOptions {
  width: fit-content;
  background-color: var(--color-background);
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 3rem 4rem;
}

.button_options {
  background: var(--color-primary);
  font-size: 1rem;
  padding: 1rem 2rem;
  color: var(--color-text);
}

.inputField,
.buttonSubmit {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem;
  border: 0;
}

.buttonSubmit {
  background-color: var(--color-secondary);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-text);
  letter-spacing: 0.35rem;
}

.footerwrapper {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: var(--color-background);
  padding: 0.5rem 2rem;
  font-size: 0.75rem;
  color: var(--color-primary);
}
